body {
  background-image: url(/images/bg-intro-mobile.png);
  background-color: #ff7a7a;
  font-family: 'Poppins', sans-serif; }
  body h1 {
    font-weight: 500;
    color: white;
    text-align: center; }
  body p {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center; }
  body .testTime {
    background-color: #6055a5;
    width: 80%;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 17px 30px;
    margin: 50px 10px 30px;
    box-shadow: 0 8px #2119502b; }
    body .testTime p {
      margin: 0 30px 0; }

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  align-self: center;
  margin: auto;
  box-shadow: 0 8px #2119502b; }
  form input {
    margin-top: 12px;
    width: 80%;
    height: 50px;
    border: solid 1px rgba(128, 128, 128, 0.487);
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 600; }
  form button {
    margin-top: 20px;
    width: 85%;
    height: 50px;
    border-radius: 5px;
    background-color: #38cc8c;
    color: white;
    border: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif; }
  form p {
    color: #b9b6d3;
    font-size: 10px;
    text-align: center;
    margin: auto;
    width: 70%;
    margin-bottom: 15px; }
    form p span {
      color: #ff7a7a;
      font-weight: 600; }

@media (min-width: 1440px) {
  body {
    display: flex; }
    body .titleAndDescription {
      text-align: center;
      width: 600px;
      margin: auto; }
      body .titleAndDescription h1 {
        margin-top: 200px;
        font-weight: 600;
        font-size: 3.5rem; }
      body .titleAndDescription p {
        font-size: 1.2rem;
        text-align: justify; } }

.sectionForm {
  margin-right: 100px; }
  .sectionForm .testTime {
    margin-top: 200px;
    width: 85%;
    margin-left: auto; }
  .sectionForm form {
    width: 100%; }
