body {
  background-image: url(/images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%) ;
  font-family: 'Poppins', sans-serif;
  
  .titleAndDescription {
  h1 {
    font-size: 27px;
    font-weight: 500;
    color: white;
    text-align: center;
  }
  p {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    // font-size: smaller;
    // line-height: 25px;
    margin: 0 25px 0;
  }
}
  .testTime {
    background-color: hsl(248, 32%, 49%);
    width: 65%;
    text-align: center;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    padding: 17px 30px;
    margin: 50px 0px 30px;
    margin-left: 33px;
    box-shadow: 0 8px #2119502b;
  p {
    margin: 0 30px 0;
  }
  }
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  // row-gap: 15px;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  align-self: center;
  margin: auto;
  box-shadow: 0 8px #2119502b;
  margin-bottom: 50px;
  input {
    margin-top: 12px;
    width: 80%;
    height: 50px;
    border: solid 1px rgba(128, 128, 128, 0.487);
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 600;
  }
  button {
    margin-top: 20px;
    width: 85%;
    height: 50px;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
  }
  .submitBtn:hover {
  background-color: hsla(154, 59%, 51%, 0.695);
}
  p {
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    text-align: center;
    margin: auto;
    width: 70%;
    margin-bottom: 15px;
    span {
      color: hsl(0, 100%, 74%);
      font-weight: 600;
    }
  }
}

.errorStyle {
  color: hsl(0, 100%, 74%);
  font-size: x-small;
  font-style: italic;
  display: flex;
  align-self: end;
  margin-right: 26px;
}

.placeHolderErrorMail::placeholder {
  font-size: small;
  color: hsl(0, 100%, 74%);

}


@media (min-width: 1440px) {

  body {
    display: flex;

    .titleAndDescription {
      text-align: center;
      width: 600px;
      margin: auto;
      h1 {
        margin-top: 200px;
        font-weight: 600;
        font-size: 3.5rem;
      }
      p {
        font-size: 1.2rem;
        text-align: justify;
      }
    }
  }
.sectionForm {
  margin-right: 100px;
  width: 40%;
  .testTime {
    margin-top: 200px;
    width: 85%;
  }
  form {
    width: 100%;
  }
}
}
.imgBG {
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 210px;
  border: solid 1px hsl(0, 100%, 74%);
  height: 40px;
}


